# CSVの読み込み

In [4]:
import sys

path_up = ".."
if not path_up in sys.path:
    sys.path.append(path_up)

In [5]:
import os

import pandas as pd

In [15]:
file_csv = "../output/trade_results_025.csv"
df_transaction = pd.read_csv(file_csv)
df_transaction

       Unnamed: 0          Time   Price Action  Profit
0               0  1.756166e+09  3819.0   HOLD     0.0
1               1  1.756166e+09  3819.0   HOLD     0.0
2               2  1.756166e+09  3819.0   HOLD     0.0
3               3  1.756166e+09  3819.0   HOLD     0.0
4               4  1.756166e+09  3811.0   HOLD     0.0
...           ...           ...     ...    ...     ...
19368       19368  1.756189e+09  3772.0   HOLD  -460.0
19369       19369  1.756189e+09  3772.0   HOLD  -460.0
19370       19370  1.756189e+09  3773.0   HOLD  -450.0
19371       19371  1.756189e+09  3773.0   HOLD  -450.0
19372       19372  1.756189e+09  3773.0  REPAY -4600.0

[19373 rows x 5 columns]

In [16]:
df_transaction[df_transaction["Action"] == "REPAY"]["Profit"].sum()

np.float64(-4600.0)