In [14]:
import numpy as np
import pandas as pd

In [15]:
# 最大データ点数
max_data_points = 19800
# カウンター
counter = 0
# データ領域の確保
data_x = np.empty(max_data_points, dtype=np.float64) # メモリを確保するだけで初期化しない
data_x

array([6.91726385e-310, 6.91726385e-310, 6.91722394e-310, ...,
       0.00000000e+000, 0.00000000e+000, 0.00000000e+000], shape=(19800,))

In [16]:
data_x[counter] = np.random.randn()
counter += 1
data_x[0:counter]

array([0.20020467])

In [18]:
file_excel = "../excel/trader_20250529.xlsx"
df = pd.read_excel(file_excel, sheet_name='7011')
df

               Time  Price
0      1.748477e+09   3305
1      1.748477e+09   3306
2      1.748477e+09   3306
3      1.748477e+09   3314
4      1.748477e+09   3314
...             ...    ...
18328  1.748500e+09   3296
18329  1.748500e+09   3296
18330  1.748500e+09   3296
18331  1.748500e+09   3296
18332  1.748500e+09   3296

[18333 rows x 2 columns]

In [36]:
t = 1748476800.0
df_tick = df[(t <= df['Time']) & (df['Time'] <= t + 3)]
df_tick['Time'][0]

np.float64(1748476802.723)