# Excel シートの読み込み

In [1]:
import sys

path_up = ".."
if not path_up in sys.path:
    sys.path.append(path_up)

In [2]:
import os

import pandas as pd

from funcs.ios import get_excel_sheet

In [4]:
file_excel = "../collection/ticks_20250827.xlsx"
code = "7011"
df = get_excel_sheet(file_excel, code)
df

               Time  Price    Volume
0      1.756253e+09   3788    543900
1      1.756253e+09   3787    566300
2      1.756253e+09   3787    566300
3      1.756253e+09   3787    566300
4      1.756253e+09   3779    589800
...             ...    ...       ...
19351  1.756276e+09   3759  14975200
19352  1.756276e+09   3759  14977000
19353  1.756276e+09   3759  14977000
19354  1.756276e+09   3759  14978900
19355  1.756276e+09   3759  14978900

[19356 rows x 3 columns]

In [5]:
df.columns

Index(['Time', 'Price', 'Volume'], dtype='object')