# 損切ロジックの評価

In [1]:
import sys

path_up = ".."
if not path_up in sys.path:
    sys.path.append(path_up)

In [2]:
import datetime
import re

import matplotlib.font_manager as fm
import matplotlib.pyplot as plt
from matplotlib import dates as mdates
import numpy as np
import pandas as pd

from funcs.tse import get_ticker_name_list
from modules.psar import RealtimePSAR
from modules.simulator import LosscutSimulator

In [3]:
pattern = re.compile(r".+([0-9]{4})([0-9]{2})([0-9]{2})\.xlsx")

In [4]:
name_excel = "../excel/tick_20250702.xlsx"
ticker = "7011"
#ticker = "7203"
#ticker = "8306"

m = pattern.match(name_excel)
if m:
    year = m.group(1)
    month = m.group(2)
    day = m.group(3)
else:
    year = "1970"
    month = "01"
    day = "01"
date_str = f"{year}-{month}-{day}"
df = pd.read_excel(name_excel, sheet_name=ticker)
df.index = pd.to_datetime([datetime.datetime.fromtimestamp(t) for t in df["Time"]])
df

                                    Time  Price
2025-07-02 09:03:02.279633  1.751415e+09   3498
2025-07-02 09:03:03.279292  1.751415e+09   3498
2025-07-02 09:03:04.292212  1.751415e+09   3502
2025-07-02 09:03:05.283896  1.751415e+09   3502
2025-07-02 09:03:06.292606  1.751415e+09   3510
...                                  ...    ...
2025-07-02 15:24:45.894840  1.751437e+09   3523
2025-07-02 15:24:46.902854  1.751437e+09   3523
2025-07-02 15:24:47.908850  1.751437e+09   3522
2025-07-02 15:24:48.909323  1.751437e+09   3522
2025-07-02 15:24:49.899143  1.751437e+09   3522

[19225 rows x 2 columns]

In [6]:
simulator = LosscutSimulator(ticker, df)
profit = simulator.run()
df

                                    Time  Price  MMPrice  Trend  EPupd    PSAR
2025-07-02 09:03:02.279633  1.751415e+09   3498   3498.0    0.0    0.0     0.0
2025-07-02 09:03:03.279292  1.751415e+09   3498   3498.0    0.0    0.0     0.0
2025-07-02 09:03:04.292212  1.751415e+09   3502   3498.0    0.0    0.0     0.0
2025-07-02 09:03:05.283896  1.751415e+09   3502   3502.0    0.0    0.0     0.0
2025-07-02 09:03:06.292606  1.751415e+09   3510   3502.0    0.0    0.0     0.0
...                                  ...    ...      ...    ...    ...     ...
2025-07-02 15:24:45.894840  1.751437e+09   3523   3523.0    0.0    0.0  3521.0
2025-07-02 15:24:46.902854  1.751437e+09   3523   3523.0    0.0    0.0  3521.0
2025-07-02 15:24:47.908850  1.751437e+09   3522   3523.0    0.0    0.0  3521.0
2025-07-02 15:24:48.909323  1.751437e+09   3522   3522.0    0.0    0.0  3521.0
2025-07-02 15:24:49.899143  1.751437e+09   3522   3522.0    0.0    0.0  3521.0

[19225 rows x 6 columns]