# Excel シートの読み込み

In [1]:
import sys

path_up = ".."
if not path_up in sys.path:
    sys.path.append(path_up)

In [2]:
import os

import pandas as pd

from funcs.ios import get_excel_sheet

In [4]:
file_excel = "../collection/ticks_20250814.xlsx"
code = "7011"
df = get_excel_sheet(file_excel, code)
df

               Time  Price
0      1.755130e+09   3961
1      1.755130e+09   3961
2      1.755130e+09   3955
3      1.755130e+09   3955
4      1.755130e+09   3931
...             ...    ...
19255  1.755153e+09   3878
19256  1.755153e+09   3878
19257  1.755153e+09   3877
19258  1.755153e+09   3877
19259  1.755153e+09   3878

[19260 rows x 2 columns]